.weather-box{
    text-align: center;
}

.weather-box img{
    width: 25%;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.weather-box .chance-of-rain{
    color: #06283D;
    font-size: 13px;
    font-weight: 500;
    padding-right: 50px;
}

.weather-box .min-temp{
    color: #06283D;
    font-size: 13px;
    font-weight: 500;
}
